<p class="nav-footer-social-buttons">
	<a class="fa-icon" href="https://www.instagram.com/" title="">
		<i class="fa fa-instagram"></i>
	</a>
	<a class="fa-icon" href="https://dribbble.com/" title="">
		<i class="fa fa-dribbble"></i>
	</a>
	<a class="fa-icon" href="https://twitter.com/" title="">
		<i class="fa fa-twitter"></i>
	</a>
</p>
<p>© Untitled | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
