{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="row">
	<div class="col-xs-12 col-md-6">
    	<img class="img-responsive" alt="{{ page.header.feature.alt|default('') }}" src="{{ (page.media[page.header.feature.source]|default(page.media|first)).url }}">
		{% block post_picture %}{% endblock %}
	</div>
	<div class="col-xs-12 col-md-6">
    	<h1>{{ page.title }}</h1>

		{% block inner_content %}
			{{ page.content()|raw }}
		{% endblock %}
	</div>
</div>
{% endblock %}